{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block content %}


<h1> Come scegliere tra A e B.</h1>

<p></p>
    	<img src="{%static 'Fase2/choices.jpeg' %}"  align="middle" width="100%"/>



        <div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>



{% endblock %} -->
